pytest>=7.4.3
pytest-cov
pytest-socket>=0.6.0
pytest-homeassistant-custom-component>=0.13.151,<0.13.196
pytest-asyncio
pytest-unordered
pytest-xdist
types-aiofiles
pre-commit
pytest-httpserver>=1.0.10
ruff
mypy
